@import '.././mixins/flexbox';

.todo-list-item{
  @include flex-box(row, space-between, center);
  padding: .25em .75em;
  margin-bottom: .25em;
  font-weight: 600;

  .btn{
    margin: 3px;
    width: 35px;
  }
}